{% assign chapters = site.data.book.chapters | sort: "order" %}
<ul>
  {% for chapter in chapters %}
    <li>
      <a href="#{{ chapter.slug }}">{{ chapter.title }}</a>
      {% if chapter.sections %}
        <ul>
          {% for section in chapter.sections %}
            <li>
              <a href="#{{ section.slug }}">{{ section.title }}</a>
              {% if section.sections %}
                <ul>
                  {% for subsection in section.sections %}
                    <li>
                      <a href="#{{ subsection.slug }}">{{ subsection.title }}</a>
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </li>
  {% endfor %}
</ul>
